.center {
	text-align: center;
}
table.center {
	width: 80%;
	border-collapse: collapse;
	position: relative;
	left: 10%;
}
td {
	border: 1px solid black;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    background-color: coral;
}
a:active {
    text-decoration: none;
}
tbody {
    font-style: italic;
    background-color: lemonchiffon;
}