@import 'https://fonts.googleapis.com/css?family=Josefin+Sans';

h1 {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}
div.nav {
	border: 1px black;
	border-style: solid none;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 10px;
}
div.footer {
    text-align: center;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	border: 1px black;
	border-style: solid none none;
	padding: 10px;
}
a {
	margin-right: 30px;
}
a:hover {
    font-weight: bold;
}
a:active {
    text-decoration: none;
}